---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "@/components/ImageMod.astro";
const { testimonial } = Astro.props;
---

{
  testimonial.data.enable && (
    <section class="section">
      <div class="container">
        <div class="mb-20 text-center">
          <p
            set:html={markdownify(testimonial.data.subtitle)}
            class="mb-4 text-sm"
            data-aos="fade-up-sm"
          />
          <h2
            set:html={markdownify(testimonial.data.title)}
            class="lg:h1"
            data-aos="fade-up-sm"
          />
        </div>
        <div class="row justify-center">
          <div class="col-12">
            <div class="swiper testimonial-slider relative">
              <div class="swiper-wrapper">
                {testimonial.data.testimonials.map(
                  (
                    item: {
                      avatar: string;
                      content: string;
                      name: string;
                      designation: string;
                      image: string;
                    },
                    index: number
                  ) => (
                    <div class="swiper-slide">
                      <div class="flex flex-col xl:flex-row items-center justify-between">
                        <div
                          class="lg:w-3/5 xl:w-[49%] max-xl:order-2"
                          data-aos="fade-right-sm"
                          data-aos-delay={`${index * 50 + 200}`}
                        >
                          <ImageMod
                            width={226}
                            height={57}
                            class="mb-8"
                            src={item.avatar}
                            alt={item.name}
                            format="webp"
                          />
                          <h4
                            class="mb-10 text-2xl font-medium"
                            set:html={markdownify(item.content)}
                          />

                          <p
                            set:text={item.name}
                            class="text-xl text-text-dark mb-1"
                          />
                          <p set:text={item.designation} class="text-sm" />
                        </div>

                        <div
                          class="xl:w-[41%]"
                          data-aos="fade-left-sm"
                          data-aos-delay={`${index * 50 + 300}`}
                        >
                          <ImageMod
                            width={502}
                            height={502}
                            class="rounded-2xl w-full object-cover aspect-square max-xl:mb-7"
                            src={item.image}
                            alt={item.name}
                            format="webp"
                            quality="high"
                          />
                        </div>
                      </div>
                    </div>
                  )
                )}
              </div>
              <div class="testimonial-slider-pagination" />
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      slidesPerView: 1,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
    });
  });
</script>
