---
import Compare from "@/components/Pricing/Compare.astro";
import Plan from "@/components/Pricing/Plan.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import FaqAccordion from "@/partials/FaqAccordion.astro";
import PageHeader from "@/partials/PageHeader.astro";
import TestimonialSlider from "@/partials/TestimonialSlider.astro";
import { getEntry, type CollectionEntry } from "astro:content";

const pricingIndex = (await getEntry(
  "pricing",
  "-index"
)) as CollectionEntry<"pricing">;
const {
  title,
  meta_title,
  description,
  hero,
  pricing_tab,
  pricing_card,
  compare,
  faq,
} = pricingIndex.data;

const call_to_action = (await getEntry(
  "sections",
  "call-to-action"
)) as CollectionEntry<"sections">;
---

<Base title={title} meta_title={meta_title} description={description}>
  <PageHeader title={hero.title} content={hero.content} />

  <Plan pricing_tab={pricing_tab} pricing_card={pricing_card} />

  <Compare compare={compare} />

  <TestimonialSlider />

  <section class="section pb-0">
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 mb-12">
          <p
            set:html={markdownify(faq.subtitle)}
            class="text-center text-sm mb-2.5"
            data-aos="fade-up-sm"
            data-aos-delay="200"
          />
          {
            faq.title && (
              <h2
                set:html={markdownify(faq.title)}
                class="mb-2 lg:h1 text-center"
                data-aos="fade-up-sm"
                data-aos-delay="300"
              />
            )
          }
        </div>

        <div class="col-12 lg:col-6">
          <FaqAccordion />
        </div>
      </div>
    </div>
  </section>

  <CallToAction call_to_action={call_to_action} />
</Base>
