---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry, render, type CollectionEntry } from "astro:content";

const changelog = (await getEntry(
  "changelog",
  "-index"
)) as CollectionEntry<"changelog">;

// Redirect to 404 if page is draft
if (changelog.data.draft) {
  return Astro.redirect("/404");
}

const { title, meta_title, description, content } = changelog.data;

const { Content } = await render(changelog);

const call_to_action = (await getEntry(
  "sections",
  "call-to-action"
)) as CollectionEntry<"sections">;
---

<Base title={title} meta_title={meta_title} description={description}>
  <PageHeader title={title} content={content} />

  <section class="-mt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 lg:col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <CallToAction call_to_action={call_to_action} />
</Base>
